@model List<CustomerVM>
@{
}


<div class="container">
    <div class="container-fluid py-2 bg-light">
        <h6 class="display-6">
            <p class="text-capitalize fs-3">Customer Page</p>
        </h6>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <a class="btn btn-primary" asp-controller="Customers" asp-action="Save">New Customer</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-striped">
                <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Customers" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                <a class="btn btn-danger" asp-action="Remove" asp-controller="Customers" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


