

@using Microsoft.AspNetCore.Identity
@using Business.Services
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject BasketService basketService
@model OrderVM
@{
    decimal subtotal = 0;
    decimal totalItemQuantity = 0;
    var user = await UserManager.GetUserAsync(User);
    var basket = await basketService.GetBasketByUserId(user.Id);
}

<div class="container border-1 mt-4">
    <div class="row">
        <div class="col">
            <span class="fw-bolder"> Order Confirmation Review</span>
            <p class="float-end fs-6">Order Total: <strong>@Model.TotalOrderPrice.ToString("0.00") TL </strong> 
                <form asp-action="ConfirmOrderReviewAndSave" asp-controller="Order" method="post" asp-antiforgery="true">    
                    <input  type="hidden"  asp-for="@Model.Address" />
                    <input  type="hidden"  asp-for="@Model.AppUserId" />
                    <input  type="hidden"  asp-for="@Model.PaymentMethod" />
                    <input   type="hidden"  asp-for="@Model.City" />
                    <button type="submit" class="btn btn-success">Place Order</button>
                </form>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col border ">
            <div class="table-responsive-md">
                <table class="table m-3">
                    <tr>
                        <th class="w-50 ">Your Information <a class="float-end fs text-decoration-none fw-normal" asp-action="ConfirmOrder" asp-controller="Order" asp-route-basketId="@basket.Id">Edit</a></th>
                        <th class="w-50 ">Shipping Address <a class="float-end fs text-decoration-none fw-normal" asp-action="ConfirmOrder" asp-controller="Order" asp-route-basketId="@basket.Id">Edit</a></th>
                    </tr>
                    <tr class="borderless-tr">
                        <td class="borderless-tr">
                        Name: @user.UserName <br />
                        Email:  @user.Email</td>
                        <td class="borderless-tr">
                            @Model.Address.ToString()
                        </td>
                    </tr>
                    <tr>
                        <th>Payment Type <a class="float-end fs text-decoration-none fw-normal" asp-action="ConfirmOrder" asp-controller="Order" asp-route-basketId="@basket.Id">Edit</a></th>
                        <th>Billing Address <a class="float-end fs text-decoration-none fw-normal" asp-action="ConfirmOrder" asp-controller="Order" asp-route-basketId="@basket.Id">Edit</a></th>
                    </tr>
                    <tr class="borderless-tr">
                        <td class="borderless-tr">@Model.PaymentMethod.ToString()</td>
                        <td class="borderless-tr">
                            @Model.Address.ToString()
                           
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@section PageStyles{
    <link href="~/css/pages/confirm-order-review.css" rel="stylesheet" />

}