@{ 
    
}
@model OrderDetailVM

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <th>Order Number</th>
                <th>Status</th>
                <th>Date</th>
                <th>Payment Method</th>
                <th>Address</th>
                <th>City</th>
                <th>Actions</th>
                </thead>
                <tbody>
                        <tr>
                            <td>@Model.OrderNumber</td>
                            <td class="text-info">@Model.Status</td>
                            <td>@Model.Date</td>
                            <td>@Model.PaymentMethod</td>
                            <td>@Model.Address</td>
                            <td>@Model.City</td>
                            <td>
                                <a class="btn btn-warning" asp-action="CancelOrder" asp-controller="Order" asp-route-orderId="@Model.Id" asp-route-appUserId="@Model.AppUserId">Cancel Order</a>
                                @*<a class="btn btn-warning" asp-action="CancelOrder" asp-controller="Order" asp-route-*="new {orderId=@Model.Id}, {appUserId=@Model.AppUserId };" >Cancel Order</a>*@
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>