@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Identity
@using Business.Services
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject BasketItemService basketItemService
@model List<BasketItemVM>
@{
    decimal subtotal = 0;
    decimal totalItemQuantity = 0;
    var basketIdCheck = (Model.FirstOrDefault() == null) ? 0 : Model.FirstOrDefault().BasketId;
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.Name </td>
                        <td>@item.Quantity</td>
                        <td>@item.Product.Price TL</td>
                        <td step="0.01">
                            @{
                                var totalPrice = item.Quantity * item.Product.Price;
                                totalItemQuantity += item.Quantity;
                            }
                            @totalPrice.ToString("0.00") TL
                            @{ subtotal += totalPrice;}
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Remove" asp-controller="Basket" asp-route-id="@item.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Continue Shopping</a>

                        @if (Model.Count >= 1)
                        {
                            <a asp-action="DeleteTheBasket" asp-controller="Basket" asp-route-id="" class="btn btn-outline-danger ms-2">Empty The Basket</a>
                        }
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    <tr><td><strong class="fs-4">Order Summary</strong></td> </tr>
                    <tr><td><p class="fw-semibold text-secondary fs-6"> Total Quantity of Orders: <span class="fw-bold">@Convert.ToInt32(totalItemQuantity) items </span>  </p></td> </tr>
                    <tr>
                        <td>
                            <p class="fw-semibold text-secondary fs-6">
                                Subtotal: <span class="fw-bold">@subtotal.ToString("0.00") TL</span>

                            </p>
                        </td>
                    </tr>

                    <tr><td><a class="btn btn-outline-success" asp-action="ConfirmOrder" asp-controller="Order" asp-route-basketId="@basketIdCheck">CONFIRM ORDER AND CHECKOUT</a></td></tr>

                    <tr><td><a class="btn btn-outline-warning" asp-action="Index" asp-controller="Order" asp-route-appUserId="@UserManager.GetUserId(User)">GO TO MY ORDERS</a></td></tr>

                </tbody>
            </table>

        </div>
    </div>
</div>



